@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* GENERAL STYLES. Try changing the background color and font size! */
:root {
  background-color: white;
  --font-family: "Inclusive Sans", sans-serif;
  --text-color: black;
  --bg-color: white;
  --h1-font-size: 1.8em;
  --h2-font-size: 1.6em;
  --p-font-size: 1.2em;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS: ADD MORE HERE!! Copy + paste and try out different animations. Try out different CSS transforms and translates. */

/* To get started, try implementing this scale class. */

/* 
.scale {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1.5s, transform 1.5s ease-in;
} */

.move-in-left {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s, transform 1.5s;
}

.move-in-right {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 1.5s, transform 2.5s;
}

.fade {
  opacity: 0;
  transition: opacity 1.5s;
}

.up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 1.5s;
}

.step {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* TYPOGRAPHY */

h1,
h2,
p {
  font-family: var(--font-family);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

p {
  font-size: var(--p-font-size);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* CONTAINERS: Layout, spacing! Add a large-container if you'd like. */
section {
  margin: 15em 0;
  max-width: 800px;
  width: 100%;
  padding: 0 1em;
  text-align: center;
}

.small-container {
  max-width: 600px;
  text-align: center;
}

.medium-container {
  max-width: 800px;
  text-align: center;
}

/* More advanced animations for those willing to explore... */
.stagger-item {
  color: black;
  margin: 4rem 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.stagger-item.is-visible:nth-child(1) {
  transition-delay: 0s;
}

.stagger-item.is-visible:nth-child(2) {
  transition-delay: 0.1s;
}

.stagger-item.is-visible:nth-child(3) {
  transition-delay: 0.2s;
}

.stagger-item.is-visible:nth-child(4) {
  transition-delay: 0.3s;
}
/*  */

.is-visible {
  opacity: 1;
  transform: translateY(0) translateX(0);
}
